extends layout

block content
  title= "Members Only"
  div.content-wrapper
    if (!user)
      h1= "You are not logged in!"
    else
      h1= "You are logged in!"

    for message in messages
      div.message
        h2 #{message.title}
        p #{message.content}
        p #{message.author.username}
        p #{message.date.toLocaleString()}