extends layout

block content
  title= "Test"
  div.content-wrapper
    if (!user)
      h1= "Log in to post!" 
    else
      if (user && user.isAdmin)
        div.admin-crown
          h1 Welcome, #{user.username}
          i.fas.fa-crown
      else
        div.user
          h1 Greetings, #{user.username}
          i.fas.fa-user

    for message in messages
      div.message
        if (message.author.isAdmin)
          div.icon-image
            i.fas.fa-crown
        else
          div.icon-image
            i.fas.fa-user
        div.message-content
          h2 #{message.title}
          p.content #{message.content}
          div.post-info
            div.admin-post.poster
              p #{message.author.username} 
              if (message.author.isAdmin)
                i.fas.fa-crown
              else
                i.far.fa-user
            div.date
              p #{message.date.toLocaleString()}
                i.far.fa-clock
            if (user && user.isAdmin)
              form(action="" method="POST")
                input(name="messageId" value=message.id type="hidden" required)
                button.submit-button 
                  i.fas.fa-trash-alt