extends layout

block content
  title= "Members Only"
  div.content-wrapper
    if (!user)
      h1= "Log in to post!" 
    else
      if (user && user.isAdmin)
        div.admin-crown
          h1 Welcome, #{user.username}
          i.fas.fa-crown
      else
        h1 Hi, #{user.username}

    for message in messages
      div.message
        h2 #{message.title}
        p #{message.content}
        div.admin-post.poster
          i.fas.fa-crown
          p #{message.author.username} 
        div.date
          i.far.fa-clock
          p #{message.date.toLocaleString()}
        if (user && user.isAdmin)
          form(action="" method="POST")
            input(name="messageId" value=message.id type="hidden" required)
            button.submit-button Delete